<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Good Thymes Virtual Grocery</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
  <a href="/">
      <h1>Personal Blog (ADMIN)</h1>
    </a>

  <h1>New Article</h1>

  <form th:action="@{/new}" th:object="${article}" method="post">
    <input type="number" th:field="*{id}" hidden/>
    
    <label>Title</label>
    <input type="text" th:field="*{title}" placeholder="Your name" />

    <br>

    <label>Publishing Date</label>
    <input type="datetime-local" th:field="*{publishedAt}" placeholder="" />

    <br>

    <label>Content</label>
    <textarea th:field="*{content}" placeholder="... article content"></textarea>

    <br>

    <button type="submit">Publish</button>
  </form>

</body>

</html>